In [41]:
import pandas as pd

In [42]:
import re

In [54]:
input_csv = './DataBase_Client.csv'
df = pd.read_csv(input_csv)

In [55]:
print(df)

     Unnamed: 0                                                  0
0             0                     Nome;Sobrenome;Telefone;Email;
1             1  Enzo;Silva;(51) 7991-7697;EnzoSousaSilva@dayre...
2             2  Matheus;Cunha;(44) 2770-3992;MatheusCardosoCun...
3             3  Luis;Azevedo;(67) 7627-5794;LuisFerreiraAzeved...
4             4  Yasmin;Rodrigues;(34) 8654-4059;YasminCastroRo...
..          ...                                                ...
96           96  Ot�vio;Silva;95810-8895;OtavioRibeiroSilva@cuv...
97           97  J�lio;Dias;(27) 9402-3265;JulioAlmeidaDias@jou...
98           98  Luana;Castro;(11) 6253-6934;LuanaGoncalvesCast...
99           99  Rodrigo;Rodrigues;(21) 2858-9639;RodrigoBarbos...
100         100  Brenda;Pinto;9553-8772;BrendaCorreiaPinto@army...

[101 rows x 2 columns]

In [64]:
# Função para arrumar o número de telefone
def fix_phone(phone):
    # Remover caracteres especiais e espaços
    phone = re.sub(r'\D', '', phone)
    
    # Verificar se o número tem pelo menos 9 dígitos
    if len(phone) >= 10:
        # Extrair os últimos 9 dígitos
        phone = phone[-9:]
        
        # Adicionar '9' no início
        phone = '9' + phone
        
        # Adicionar o código de país (55) no início
        phone = '55' + phone
        
        return phone
    else:
        return None

In [69]:
input_csv = './DataBase_Client.csv'
df = pd.read_csv(input_csv)

In [70]:
#Ler o arquivo_csv " /DataBase_Client.csv
input_csv ='./DataBase_Client.csv'
df = pd.read_csv(input_csv)

In [71]:
df.count()

Unnamed: 0    101
0             101
dtype: int64

In [72]:
print(df)

     Unnamed: 0                                                  0
0             0                     Nome;Sobrenome;Telefone;Email;
1             1  Enzo;Silva;(51) 7991-7697;EnzoSousaSilva@dayre...
2             2  Matheus;Cunha;(44) 2770-3992;MatheusCardosoCun...
3             3  Luis;Azevedo;(67) 7627-5794;LuisFerreiraAzeved...
4             4  Yasmin;Rodrigues;(34) 8654-4059;YasminCastroRo...
..          ...                                                ...
96           96  Ot�vio;Silva;95810-8895;OtavioRibeiroSilva@cuv...
97           97  J�lio;Dias;(27) 9402-3265;JulioAlmeidaDias@jou...
98           98  Luana;Castro;(11) 6253-6934;LuanaGoncalvesCast...
99           99  Rodrigo;Rodrigues;(21) 2858-9639;RodrigoBarbos...
100         100  Brenda;Pinto;9553-8772;BrendaCorreiaPinto@army...

[101 rows x 2 columns]

In [97]:
df.count()

,0    0
dtype: int64

In [99]:
# Função para arrumar o número de telefone
def fix_phone(phone):
    phone = re.sub(r'\D', '', phone)
    
    if len(phone) >= 11:
        # Encontrar o DDD dentro dos parênteses
        match = re.search(r'\((\d{2})\)', phone)
        if match:
            ddd = match.group(1)
            phone = phone.replace(match.group(0), '')  # Remover o DDD original
            phone = '55' + ddd + '9' + phone  # Adicionar DDD e dígito 9
            
            return phone
    elif len(phone) >= 9:
        phone = '55' + '9' + phone  # Adicionar 55 e dígito 9
        
        return phone
    return None

In [100]:
print(df)

                                                                       ,0
0,Nome     Sobrenome Telefone       Email                             NaN
1,Enzo     Silva     (51) 7991-7697 EnzoSousaSilva@dayrep.com         NaN
2,Matheus  Cunha     (44) 2770-3992 MatheusCardosoCunha@armyspy.com   NaN
3,Luis     Azevedo   (67) 7627-5794 LuisFerreiraAzevedo@teleworm.us   NaN
4,Yasmin   Rodrigues (34) 8654-4059 YasminCastroRodrigues@einrot.com  NaN
...                                                                    ..
96,Ot�vio  Silva     95810-8895     OtavioRibeiroSilva@cuvox.de       NaN
97,J�lio   Dias      (27) 9402-3265 JulioAlmeidaDias@jourrapide.com   NaN
98,Luana   Castro    (11) 6253-6934 LuanaGoncalvesCastro@teleworm.us  NaN
99,Rodrigo Rodrigues (21) 2858-9639 RodrigoBarbosaRodrigues@rhyta.com NaN
100,Brenda Pinto     9553-8772      BrendaCorreiaPinto@armyspy.com    NaN

[101 rows x 1 columns]

In [102]:
# Função para verificar se o número de telefone está no padrão desejado
def valid_phone(phone):
    pattern = r'\(\d{2}\) \d{4}-\d{4}'
    return re.match(pattern, phone)

In [103]:
# Função para extrair e formatar o número de telefone
def extract_and_format_phone(phone):
    phone = re.sub(r'\D', '', phone)
    
    if len(phone) == 11:
        ddd = phone[:2]
        number = phone[2:]
        return f'55{ddd}9{number}'
    else:
        return None

In [108]:
print(df)

                                                                       ,0
0,Nome     Sobrenome Telefone       Email                             NaN
1,Enzo     Silva     (51) 7991-7697 EnzoSousaSilva@dayrep.com         NaN
2,Matheus  Cunha     (44) 2770-3992 MatheusCardosoCunha@armyspy.com   NaN
3,Luis     Azevedo   (67) 7627-5794 LuisFerreiraAzevedo@teleworm.us   NaN
4,Yasmin   Rodrigues (34) 8654-4059 YasminCastroRodrigues@einrot.com  NaN
...                                                                    ..
96,Ot�vio  Silva     95810-8895     OtavioRibeiroSilva@cuvox.de       NaN
97,J�lio   Dias      (27) 9402-3265 JulioAlmeidaDias@jourrapide.com   NaN
98,Luana   Castro    (11) 6253-6934 LuanaGoncalvesCastro@teleworm.us  NaN
99,Rodrigo Rodrigues (21) 2858-9639 RodrigoBarbosaRodrigues@rhyta.com NaN
100,Brenda Pinto     9553-8772      BrendaCorreiaPinto@armyspy.com    NaN

[101 rows x 1 columns]

In [83]:
# Função para arrumar o número de telefone
def fix_phone(phone):
    phone = re.sub(r'\D', '', phone)
    
    if len(phone) >= 11:
        # Encontrar o DDD dentro dos parênteses
        match = re.search(r'\((\d{2})\)', phone)
        if match:
            ddd = match.group(1)
            phone = phone.replace(match.group(0), '')  # Remover o DDD original
            phone = '55' + ddd + '9' + phone  # Adicionar DDD e dígito 9
            
            return phone
    return None

In [85]:
# Ler o arquivo CSV e criar um DataFrame (usando ponto e vírgula como separador)
input_csv = './DataBase_Client.csv'
df = pd.read_csv(input_csv, sep=';')

In [88]:
# Aplicar a função de arrumação ao campo de telefone
#df['telefone'] = df['telefone'].apply(fix_phone)

In [91]:
# Ordenar o DataFrame com base nos números de telefone
#df_sorted = df.sort_values(by='telefone')

In [92]:
print(df_sorted)

NameError: name 'df_sorted' is not defined

In [78]:
# Ler o arquivo CSV e criar um DataFrame (usando ponto e vírgula como separador)
input_csv ='./DataBase_Client.csv'
df = pd.read_csv(input_csv, sep=';')

In [81]:
# Aplicar a função de arrumação ao campo de telefone
#df['telefone'] = df['telefone'].apply(fix_phone)

In [82]:
# Ordenar o DataFrame com base nos números de telefone
df_sorted = df.sort_values(by='telefone')

KeyError: 'telefone'

In [ ]:
# Exibir o DataFrame ordenado
print(df_sorted)

In [43]:
import pandas as pd
clientes = pd.read_csv('./DataBase_Client.csv')
clientes.head()

   Unnamed: 0                                                  0
0           0                     Nome;Sobrenome;Telefone;Email;
1           1  Enzo;Silva;(51) 7991-7697;EnzoSousaSilva@dayre...
2           2  Matheus;Cunha;(44) 2770-3992;MatheusCardosoCun...
3           3  Luis;Azevedo;(67) 7627-5794;LuisFerreiraAzeved...
4           4  Yasmin;Rodrigues;(34) 8654-4059;YasminCastroRo...

In [53]:
# Função para padronizar e formatar o número de telefone
def format_phone(phone):
    phone = re.sub(r'\D', '', phone)
    
    if len(phone) >= 11:
        phone = phone[-9:]
        phone = '9' + phone
        phone = '55' + phone
        
        return phone
    else:
        return None

# Dados de exemplo
data = {
    'Nome': ['João ', 'Maria', 'Pedro'],
    'Sobrenome': ['Silva', 'Souza', 'Silva'],
    'Email': ['joao@example.com', 'maria@example.com', 'pedro@example.com'],
    'telefone': ['(55)197654-3210', '(55)197654-3210', '12345']
}

# Criar DataFrame a partir dos dados
df = pd.DataFrame(data)

# Aplicar a função de formatação ao campo de telefone
df['telefone'] = df['telefone'].apply(format_phone)

# Remover linhas onde o telefone não pôde ser formatado corretamente
df.dropna(subset=['telefone'], inplace=True)

# Imprimir o DataFrame formatado
print(df)

    Nome Sobrenome              Email      telefone
0  João      Silva   joao@example.com  559976543210
1  Maria     Souza  maria@example.com  559976543210

In [51]:
print(df)

    Nome Sobrenome              Email      telefone
0  João      Silva   joao@example.com  559987654321
1  Maria     Souza  maria@example.com  559976543210